@use 'sass:map';
@use 'elevations';
@use 'type-scales';
// typescales

@mixin typescale($key) {
    @each $arr,$val in map-get(type-scales.$type-scales, $key) {
        #{$arr}: #{$val};
    }
}

$corner-scales: (
    none: 0,
    small: 4px,
    medium: 8px,
    large: 16px,
    full: 999px,
    circle: 50%
);
@mixin corner($key) {
    border-radius: map-get($corner-scales, $key);
}

:root {
    @each $key,$fontmap in type-scales.$type-scales {
        @each $attr,$val in $fontmap {
            --ja-text-#{$key}-#{$attr}: #{$val};
        }
    }
    @each $key,$val in $corner-scales {
        --ja-border-radius-#{$key}: #{$val};
    }
}

@mixin state-layer {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: currentColor;
        pointer-events: none;
    }
    &:hover,
    &:focus {
        &::before {
            opacity:0.1;
        }
    }
    &:active {
        &::before {
            opacity:0.2;
        }
    }
}

@mixin elevated($z) {
    box-shadow: map-get(elevations.$shadow-key-umbra, $z),
    map-get(elevations.$shadow-key-penumbra, $z),
    map-get(elevations.$shadow-key-ambient, $z);
}
