@use 'mixins';

.ja-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    //
    --ja-button-height : 3em;
    height: var(--ja-button-height);
    padding: calc(var(--ja-button-height)/4) calc(var(--ja-button-height)/2);

    // 过渡
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);

    @include mixins.corner('full');
    @include mixins.state-layer;
    &--outlined {
        @include mixins.container-outlined;
    }
    &--elevated {
        @include mixins.container-elevated;
    }
    &--filled {
        @include mixins.container-filled(
            var(--ja-color-primary), 
            var(--ja-color-on-primary)
        );
    }
    &--filled-tonal {
        @include mixins.container-filled(
            var(--ja-color-secondary-container), 
            var(--ja-color-on-secondary-container)
        );
    }
    &--small {
        @include mixins.typescale("label-small");
    }
    &--medium {
        @include mixins.typescale("label-medium");
    }
    &--large {
        @include mixins.typescale("label-large");
    }
    &--circle {
        width: var(--ja-button-height);
        @include mixins.corner('circle');
    }
    &--disabled {
        opacity: 50%;       
        pointer-events: none;
        cursor: not-allowed;
    }

    &__prepend {
        margin-right: calc(var(--ja-button-height)/5);
    }
    &__append {
        margin-left: calc(var(--ja-button-height)/5);
        order: 2;
    }
    &__loading-icon {
        animation: rotation 1s linear infinite;
    }
}
@keyframes rotation
{
    from {transform: rotate(0);}
    to {transform: rotate(1turn);}
}
