@use 'css-var';
@use 'mixins';
@use 'button_var';

@mixin types {
    @each $type,$map in button_var.$types {
        &--#{$type} {
            @each $key,$var in $map {
                @if($key == "elevation"){
                    @include mixins.elevated($var)
                }
                @else{
                    #{$key}: #{$var}
                }
            }

        }
    }    
}
@mixin sizes {
    @each $size,$map in button_var.$sizes {
        &--#{$size} {
            @each $key,$var in $map {
                @if($key == "type-scale"){
                    @include mixins.typescale($var);
                }
                @else{
                    #{$key}: #{$var};
                }
            }

        }
    }    
}
.ja-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    //
    // height: var(--ja-button-height);
    --ja-button-height : 40px;
    padding: calc(var(--ja-button-height)/4) calc(var(--ja-button-height)/2);

    // 过渡
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    @include mixins.corner('full');
    @include mixins.state-layer;
    @include types;
    @include sizes;
    &--circle {
        width: var(--ja-button-height);
        @include mixins.corner('circle');
    }
    &--loading {
        --ja-button-text-color: var(--ja-color-on-surface) 38%;
        --ja-button-bg-color: var(--ja-color-primary) 32%;
        pointer-events: none;
        transition: none;
    }
    &--disabled {
        // --ja-button-text-color: var(--ja-color-on-surface);
        // --ja-button-bg-color: var(--ja-color-surface);
        opacity: 58%;        
        pointer-events: none;
        cursor: not-allowed;
    }

    &__prepend {
        margin-right: calc(var(--ja-button-height)/5);
    }
    &__append {
        margin-left: calc(var(--ja-button-height)/5);
        order: 2;
    }
    &__loading-icon {
        animation: rotation 1s linear infinite;
    }
}
@keyframes rotation
{
    from {transform: rotate(0);}
    to {transform: rotate(1turn);}
}
