@use 'mixins';

.ja-card {
    @include mixins.corner("large");
    overflow: hidden;

    &--outlined {
        @include mixins.container-outlined;
    }
    &--elevated {
        @include mixins.container-elevated;
    }
    &--filled {
        @include mixins.container-filled(
            var(--ja-color-surface-variant),
            var(--ja-color-on-surface-variant)
        );
    }

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:hover, 
    &:focus {
        @include mixins.elevated(2);
    }

    &__header,
    &__footer {
        @include mixins.typescale('title-large');
        padding: 16px;
        border-bottom: 1px solid var(--ja-color-outline);
    }
    &__footer {
        border-top: 1px solid var(--ja-color-outline);
        border-bottom: none;
    }
    &__img {}
    &__title {
        @include mixins.typescale('title-large');
        margin: 16px 16px 0 16px;
    }
    &__subtitle {
        @include mixins.typescale('title-medium');
        margin: 0 16px 16px 16px;
        opacity: 60%;
    }
    &__text {
        @include mixins.typescale('body-medium');
        margin: 16px;
    }
    &__actions {
        margin: 16px;
    }
}
